html,
body {
  height: 100%;
  background-color: #FFF;
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome {
    padding-top: 30%;
}

@media (min-width: 992px) {

body {
      /* padding-top: 250px; */
    }
  }

#mc_embed_signup {
    background: transparent;  
    font-family: 'Open Sans', sans-serif;
    width:100%;
}

#mc_embed_signup .clear {
    display: inline-block;
}

.brand-logo {
    margin-bottom: 20px;
    margin-top: em;
}

.social-media {
    margin-top: 20px;
}

.fa {
    padding: 10px;
    text-align: center;
    color: #005757;
}

.btn {
    background-color: #D1633B;
    color: #FFF;
    margin: 10px;
}

h3 {
    letter-spacing: 3px;
    color: #000;
}

.email {
    vertical-align: baseline;
}